{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <h2><a href="/inverse">Inverse Matrix Calculator</a></h2>
        <p>This application uses Numpy to compute the inverse of a non-singular matrix given by the user. It uses the 
            inputs from the user and does the work with python code.
        </p>
    </div>
    <div class="col-sm-4">
        <h2>App 2 </h2>
        <p>Working...</p>
    </div>
    <div class="col-sm-4">
        <h2> App 3</h2>
        <p>Working....</p>
    </div>
  </div>
</div>
{% endblock %}
